Only allow localhost to use 'http' as scheme.

Per the oidc spec, `https` is [required](http://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery) for issuer's address.. But we want to support `http` for development environment. A compromise can be that only `localhost` and `127.0.0.1` are allowed for `http` scheme.

Which is also allowed for the `redirect_uri` in the [authentication request](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest)


two things to do:
1. drop support for https when issuer URL is not localhost or 127.0.0.1
2. log a big warning if using http

Could dex use a flag like -devmode to check 'http' verification? For example, if dex starts with this flag it won't check scheme in Issuer URL, otherwise dex starts fail if scheme is http.

At the other point, `redirect_uri` according to the spec:

> redirect_uri
> REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). When using this flow, the Redirection URI SHOULD use the https scheme; however, it MAY use the http scheme, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection URIs in this case. The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application.

Could dex log a WARNING message like this?
`CAUTION: Client myclient is using a redirect URL http://mydomain.com with 'http' scheme instead 'https'`

If you agree I would like to do a PR with this solution.

This work is probably better for coreos/go-oidc#34 since that already has validations for client and provider metadata.

In terms of dex's implementation, dex should flat out reject URLs that aren't HTTPS if the spec mandates it. Then, yes, having some sort of `--insecure-skip-verify` flag to forgo those checks would be reasonable.

Ok I will solve this issue with your reccomended flag `--insecure-skip-verify`and I will add it to the docs. The Issuer URI is mandatory but client's redirect URI no. Should we let validation to [coreos/go-oidc#34](https://github.com/coreos/go-oidc/issues/34) or we will implement it?

There are a bunch of places in the OpenID Connect specification that require that URLs use HTTPS beyond just what the identity provider listens on.

Most of those are in the [Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata) or the [Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata) objects where there's a lot of "MUST use https" clauses. In the `"github.com/coreos/go-oidc/oidc"` package we call these [ProviderConfig](https://godoc.org/github.com/coreos/go-oidc/oidc#ProviderConfig) and [ClientMetadata](https://godoc.org/github.com/coreos/go-oidc/oidc#ClientMetadata) respectively, which currently do not validate HTTPS.

Adding checks to those verifications are a big part of resolving this issue.

I pushed yesterday a commit to our fork that fixes Issuer URI checks. I was inspecting dex code and I saw all URIs depend of Issuer URI (correct me if I'm wrong), so with this commit Provider Metadata and Client Metadata (which belong to dex) will be enforce to use `https` scheme if `--insecure-skip-verify` flag isn't activated. 
However, I don't have a solution for external client's redirect URI yet. Could I do a PR with this solution and open other issue for external client's redirect URI?

@rsoletob again please see coreos/go-oidc#34.

dex listening on 'http' vs 'https' is a very small part of this issue. There are a bunch of things in the client metadata like `redirect_uris`, `sector_identifier_uri`, etc that require https.

Part of this issue should be bringing dex up to spec, so it rejects client registration requests that, for instance, use http for redirects. That should be solved by addressing coreos/go-oidc#34

Going to close. I think this is dependent on the dex administrator. If they want to enforce HTTPS only callbacks, they can easily enough.