Allow wildcards in for valid RedirectURIs

We want to use dex to together with a [Nginx](https://github.com/pingidentity/lua-resty-openidc) reverse proxy to secure a large number of internal services. That would mean creating a large number of dex clients or doing a bit of session trickery to share a single authentication via dex between mutiple subdomains.

Allowing wildcards for valid RedirectURIs would make this a lot easier to manage.

I understand why that would be helpful @hanikesn, but I think it goes against the OIDC/OAuth2 spec.

You could exploit the `state` parameter for this purpose though...

Sorry, to reopen this. I don't understand how this would violate the OIDC spec, e.g. Google allows multiple domains to be used for a single client:
![oidc](https://cloud.githubusercontent.com/assets/630711/15570343/de51d988-2335-11e6-9373-13f54ba43504.png)

What I basically want to be able to do is:
```
eval "$(./bin/dexctl --db-url=$DEX_DB_URL new-client http://*.example.com/callback)"
```

> REQUIRED. Redirection URI to which the response will be sent. This __URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison)__. When using this flow, the Redirection URI SHOULD use the https scheme; however, it MAY use the http scheme, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection URIs in this case. The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application.

https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest (Emphasis my own)

Seems pretty clearly against the spec.

There is a spec and there are practical questions. Google took pragmatic approach and allowed wildcards, Dex took pragmatic approach and didn't ban HTTP scheme from redirects as specs says.

For dynamic development environments, such as created with help of Gitlab, where apps are deployed to unique URLs per branch, wildcard handling is essential. 

For those who wants it, here is PR where RedirectURIs can be a regex: https://github.com/coreos/dex/pull/1220

I can confirm that Azure Active Directory also allows wildcards for redirect URIs now.

Am I right in thinking we could configure clients via gPRC as per https://github.com/coreos/dex/blob/master/Documentation/api.md

It looks like `createClient` and `deleteClient` is supported.

Since wildcard's in redirectURIs are not allowed, I'm thinking this could be used as another way to dynamically add new redirectURIs (actually entire clients).


@nabadger , yes, that is an option too and it should work, but at the cost of more complicated setup and deployment

We also implemented our own redirect gateway, where we can use regex for whitelisting and only whitelist that gateway in our IDP.

We have the exact same situation here : creating dev environments from feature branches, resulting in multiple different feature URLs. 
- Using the GRPC API is out of scope. Developing a project for a configuration update can't be afforded.
- There's an unofficial [dexctl v2](https://github.com/ripta/dexctl), but unfortunately it does not seem to be very active,
- https://github.com/coreos/dex/pull/1220 has not bee reviewed yet,
- Adding a new component (the redirect gateway) would be a difference between development and production environments and a potential security risk (that, plus I try to avoid adding component that just work around limitations)
- I think I'll end up with a script that adapts the `staticClients` list in the configuration file, updates the dex kubernetes configmap and restarts the pod.


I really hope https://github.com/coreos/dex/pull/1220 will be positively considered. It could be activated with a flag that defaults to `false`, forcing the user to activate it would force him to recognize he's doing something against the spec, as @ericchiang noticed.


Came by this ticket looking for something similar, just had a suggestion looking at the PR.

If your do the nil test on the new option as well in storage/static.go, then the new option should have no effect on the existing flow, if not used, and replaces the lookup if it is.

As a general comment in support of the approach: The behaviour may be a bit off-spec but where I'm looking at it is for internal use with a bunch of ingress items for various host names within the same domain and wildcard TLS certificate. (Dashboard and related UIs). This will simplify management over time, and we can trust anything we'll see provisioned within that wildcard.

It should however come with a big and hairy warning against using it for external endpoints.




It would be really great to have that PR merged. 
Being able to run Dex in a 'non-strict' mode seems like a tidy way to handle off-spec features.

We run Dex for internal applications, some of which are run locally on workstations. Being able to redirect back to 'window.location', whatever that may be, is AFAIK the only way to do this.